.root {
  display: block;
  position: relative;
}

.main {
  min-height: 499px;
  width: 100%;
  position: relative;
  padding: 50px 20px 20px;
}

.description {
  padding: 20px 0 92px 0;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 112%;

  text-align: justify;
  letter-spacing: -0.03em;

  margin: 0 20px;
  position: relative;

  &_sub {
    color: #BDBDBD;
    font-weight: 300;
  }

  &_link {
    text-decoration: underline;
    font-weight: 300;
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 0;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
