.root {
}

.name {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 112%;

  text-align: justify;
  letter-spacing: -0.03em;

  margin-bottom: 30px;
}
